.upload bg-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
.upload bg-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
.EditUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.logo-container {
    margin-bottom: 5px;
    padding: 0;
}

.youtube-logo {
    width: 100px;
    height: 100px;
    padding-bottom: 0px;
}

#big {
    font-size: 18pt;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

#little {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding-bottom: 0px;
}

input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
    padding-bottom: 0px;
}

button {
    height: 40px;
    width: 100%;
    max-width: 350px;
    color: white;
    font-size: 14pt;
    background-color: red;
    border: none;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

.password-hint {
    font-size: 10pt;
    color: #6c757d;
    text-align: left;
    display: block;
    margin-top: -8px;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin-top: 10px; /* Adjusted spacing */
    margin-bottom: 20px;
    padding-bottom: 20px;

}
